/*
 * Style tweaks
 * --------------------------------------------------
 */
body {
  margin: 0px 20px 0px 0px;
}

.body-background {
  background: #1b588c url("bluebackground.jpg") no-repeat top center;
  margin: 0px;
}

footer {
  padding: 30px 0;
}

.background {
  background-color: white;
  margin-left: 60px;
  margin-right: 60px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

.row-offcanvas-right {
  right: 0;
}

.row-offcanvas-left {
  left: 0;
}

.row-offcanvas-right
.sidebar-offcanvas {
  right: -50%; /* 6 columns */
}

.row-offcanvas-left
.sidebar-offcanvas {
  left: -50%; /* 6 columns */
}

.row-offcanvas-right.active {
  right: 50%; /* 6 columns */
}

.row-offcanvas-left.active {
  left: 50%; /* 6 columns */
}

.sidebar-offcanvas {
  position: absolute;
  top: 0;
  width: 50%; /* 6 columns */
}

}

/* Header */

.team-logos {
  padding: 8px 0px 2px 0px;
  background-color: black;
}

.team-logos-center {
  text-align: center;
}

.team-logo {
  margin: 0px 1px 0px 1px;
}

.team-logo1 {
  margin: 0px 1px 0px 1px;
  padding-right: 4%;
}

.col-lg-12 {
  padding: 0px;
}

form.search {
  margin-top: 10px;
  max-width: 220px;
  float: right;
  margin-right: 8%;
  color: black;
  font-family: sans-serif;
}

input.form-control {
  width: 120%;
}

.navbar {
  margin: 0px 60px 30px 60px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  background-color: #003A73;
  color: white;
  font-family: futura;
  font-size: 18px;
  text-shadow: none;
}

.navbar-inverse {
  background: -webkit-linear-gradient(#E8E8E8 , #989898 ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#E8E8E8 , #989898); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#E8E8E8 , #989898); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#E8E8E8 , #989898); /* Standard syntax */
  border: none;
}

.navbar-inverse .navbar-nav>li>a {
  font-family: futura;
  font-weight: bolder;
  font-size: 18px;
  color: black;
  text-shadow: 0px 0 white, 0 1px white, 1px 0 white, 0 0px white;
  border-right: solid 1px #989898;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: white;
  text-shadow: none;
}


.navbar-brand {
  padding-left: 10px;
  padding-right: 10px;
  overflow: visible;
  margin-top: -45px;
  padding-top: 0px;
}

.fantasy {
  font-family: Abadi MT Condensed Extra Bold;
  margin-left: 30px;
  font-size: 36px;
  margin-top: 17px;
  margin-bottom: 7px;
  color: white;
}

.story-ff {
  color: red;
  font-family: futura;
  padding-top: 8px;
  font-size: 12px;
  margin-left: 20px;
}

h2.story-title {
  padding: 0px;
  margin-top: -5px;
  margin-bottom: 0px;
  margin-left: 20px;
}

.story-title a{
  font-family: Abadi MT Condensed Extra Bold;
  color: black;
}

.story-title a:hover{
  text-decoration: none;
}

a.story-link {
  font-family: Arial;
  color: black;
  font-weight: bold;
}

a:hover.story-link {
  text-decoration: none;
}

.story-description {
  margin-top: 0px;
  padding-top: 0px;
  font-family: sans-serif;
  border-bottom: solid 1px #989898;
  padding-bottom: 15px;
  font-size: 12px;
  margin-left: 20px;
}

.story-date {
  font-family: sans-serif;
  font-size: 12px;
  padding: 0px;
  margin: 7px 0px 5px 0px;
  margin-left: 20px;
}

#story-results {
  margin-right: 13px;
  margin-left: 13px;
}

.twitter, .instagram {
  font-family: Abadi MT Condensed Extra Bold;
  margin: 0px;
  font-size: 30px;
}

div.row.page-header {
  margin: 0px 15px 10px 15px;
  border: none;
  background-color: #003A73;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.profile-image {
  float: left;
  padding: 0px 7px 3px 0px;
}

.name {
  float: left;
}

.screen-name {
  float: left;
}

div.row.twitter {
  background-color: white;
  font-family: sans-serif;
  font-size: 15px;
  padding: 10px 10px 10px 10px;
  margin: 0px;
}

#tfheader{
  
}

#tfnewsearch{
  float:right;
  padding-top: 20px;
  padding-right: 5.8%;
  padding-bottom: 20px;
}

.tftextinput{
  margin: 0;
  padding: 5px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  border:1px solid #989898; border-right:0px;
  border-top-left-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
}
 
.tfbutton {
  margin: 0;
  padding: 5px 15px;
  font-family: futura;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: black;
  text-shadow: 0px 0 white, 0 1px white, 1px 0 white, 0 0px white;
  border: solid 1px #989898; border-right:0px;
  background: #0095cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#E8E8E8), to(#989898));
  background: -moz-linear-gradient(top,  #E8E8E8,  #989898);
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
}

.tfbutton:hover {
  text-decoration: none;
  background: #007ead;
  background: -webkit-gradient(linear, left top, left bottom, from(#a8a8a8), to(#545454));
  background: -moz-linear-gradient(top,  #a8a8a8,  #545454);
}

/* Fixes submit button height problem in Firefox */
.tfbutton::-moz-focus-inner {
  border: 0;
}

.tfclear{
  clear:both;
}




